@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";
}

<h4>Access Token</h4>
<textarea class="form-control" style="width:100%;height:190px;">@(await Context.GetTokenAsync("access_token")) </textarea>
<h4>Refresh Token</h4>
<textarea class="form-control" style="width:100%;height:50px;">@(await Context.GetTokenAsync("refresh_token")) </textarea>
<h4>expire</h4>
<textarea class="form-control" style="width:100%;height:50px;">@(await Context.GetTokenAsync("expires_at")) </textarea>