@model string
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>User: @User.Identity.Name</h1>
<div>
    @{ var claimsID = (System.Security.Claims.ClaimsIdentity)User.Identity;}
    <ul>
        @foreach (var claim in claimsID.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
</div>
<code>
    @Model
</code>

<button type="button" class="btn btn-primary" onclick="Test()">Test</button>

<script>
    var Test = function () {
        $.get("/");
        $.get("/");
        $.get("/");
        $.get("/");
        $.get("/");
        $.get("/");
        $.get("/");
        $.get("/");
    };
</script>